POSTGRES_PASSWORD=change_me
IAM_PASSWORD=change_me
CATALOG_PRICING_PASSWORD=change_me
BILLING_PAYMENT_PASSWORD=change_me
CRM_PASSWORD=change_me
CUSTOMER_OPERATION_PASSWORD=change_me
DEADLINE_MANAGEMENT_PASSWORD=change_me
EMPLOYEE_INCETIVE_PASSWORD=change_me
INFRASTRUCTURE_MANAGEMENT_PASSWORD=change_me
NOTIFICATION_PASSWORD=change_me
RETENTION_TERMINATION_PASSWORD=change_me
SALE_CONTRACTING_PASSWORD=change_me
TECHNICAL_SUPPORT_PASSWORD=change_me

ConnectionStrings__IamDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=iam_user;Password=change_me;
ConnectionStrings__CatalogPricingDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=catalog_pricing_user;Password=change_me;
ConnectionStrings__BillingPaymentDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=billing_payment_user;Password=change_me;
ConnectionStrings__CrmDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=crm_user;Password=change_me;
ConnectionStrings__CustomerOperationDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=customer_operation_user;Password=change_me;
ConnectionStrings__DeadlineManagementDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=deadline_management_user;Password=change_me;
ConnectionStrings__EmployeeIncetiveDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=employee_incetive_user;Password=change_me;
ConnectionStrings__InfrastructureManagementDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=infrastructure_management_user;Password=change_me;
ConnectionStrings__NotificationDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=notification_user;Password=change_me;
ConnectionStrings__RetentionTerminationDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=retention_termination_user;Password=change_me;
ConnectionStrings__SaleContractingDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=sale_contracting_user;Password=change_me;
ConnectionStrings__TechnicalSupportDb=Host=localhost;Port=5432;Database=BlueLagoon;Username=technical_support_user;Password=change_me;