POSTGRES_PASSWORD=change_me

ConnectionStrings__IamDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=iam_user;Password=change_me;
ConnectionStrings__CatalogPricingDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=catalog_pricing_user;Password=change_me;
ConnectionStrings__BillingPaymentDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=billing_payment_user;Password=change_me;
ConnectionStrings__CrmDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=crm_user;Password=change_me;
ConnectionStrings__CustomerOperationDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=customer_operation_user;Password=change_me;
ConnectionStrings__DeadlineManagementDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=deadline_management_user;Password=change_me;
ConnectionStrings__EmployeeIncetiveDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=employee_incetive_user;Password=change_me;
ConnectionStrings__InfrastructureManagementDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=infrastructure_management_user;Password=change_me;
ConnectionStrings__NotificationDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=notification_user;Password=change_me;
ConnectionStrings__RetentionTerminationDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=retention_termination_user;Password=change_me;
ConnectionStrings__SaleContractingDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=sale_contracting_user;Password=change_me;
ConnectionStrings__TechnicalSupportDb=Host=localhost;Port=5432;Database=blue_lagoon;Username=technical_support_user;Password=change_me;